<div class="page-header saloon-page-header" style="background-image: url('../../assets/images/salon-1.jpg');">

  <h2>{{saloon.address}}</h2>
  <div class="overlay"></div>
</div>
<div class="container">
  <div class="row">
    <div class="salon-single-header">
      <div class="salon-title-plate">
        <h1>{{saloon.name}}</h1>
      </div>
      <div class="salon-single-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa quos repudiandae sint, vel vero.
        </p>
      </div>
      <div class="avaliable-container">
        <div class="payments-avaliable">
          <span class="master-card">
          </span>
          <span class="visa">
          </span>
          <div class="avaliable-time">
            <md-icon>alarm</md-icon>
            <span class="avaliable-time-text">
              <span class="avaliability">Открыто</span>
              <span>Сегодня: 9.00 - 18.00</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="salon-interior">
      <div class="col-md-6">
        <div class="img-h-2">
          <img src="../../assets/images/saloon-1-interior.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-wrapper">
          <img src="../../assets/images/salon-2.jpg" alt="">
          <img src="../../assets/images/salon-3.jpg" alt="">
          <img src="../../assets/images/salon-4.jpg" alt="">
          <img src="../../assets/images/salon-5.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="services">
      <div class="col-md-7">
        <h2>Волосы</h2>
        <img src="../../assets/images/cutting.jpg" alt="">
      </div>
      <div class="col-md-5">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Волосы</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Биоламинирование</th>
            <td>25 р.</td>
          </tr>
          <tr>
            <th scope="row">Бразильское выпрямление волос</th>
            <td>45 р.</td>
          </tr>
          <tr>
            <th scope="row">Брондирование</th>
            <td>25 р.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="services services-reversed">
      <div class="col-md-7">
        <h2>Волосы</h2>
        <img src="../../assets/images/cutting.jpg" alt="">
      </div>
      <div class="col-md-5">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Волосы</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Биоламинирование</th>
            <td>25 р.</td>
          </tr>
          <tr>
            <th scope="row">Бразильское выпрямление волос</th>
            <td>45 р.</td>
          </tr>
          <tr>
            <th scope="row">Брондирование</th>
            <td>25 р.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="services">
      <div class="col-md-7">
        <h2>Волосы</h2>
        <img src="../../assets/images/cutting.jpg" alt="">
      </div>
      <div class="col-md-5">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Волосы</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Биоламинирование</th>
            <td>25 р.</td>
          </tr>
          <tr>
            <th scope="row">Бразильское выпрямление волос</th>
            <td>45 р.</td>
          </tr>
          <tr>
            <th scope="row">Брондирование</th>
            <td>25 р.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="appointment">
        <h2>Запишитесь прямо сейчас</h2>
        <form-validation></form-validation>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="salon-portfolio">
        <br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
