<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" class="appointment-form">
  <div class="col-md-7">
    <div class="input-group" [ngClass]="{'has-error':!complexForm.controls['firstName'].valid && complexForm.controls['firstName'].touched}">
      <md-input dividerColor='accent' placeholder="Имя" [formControl]="complexForm.controls['firstName']"></md-input>
      <md-input dividerColor='accent' placeholder="Электронный адрес" [formControl]="complexForm.controls['email']"></md-input>
      <div class="input-group-two">
        <md-input dividerColor='accent' placeholder="Контактный телефон" [formControl]="complexForm.controls['phone']"></md-input>
        <md-select dividerColor="accent"  placeholder="Услуга" [formControl]="complexForm.controls['service']">
          <md-option *ngFor="let service of ['Биоламинирование', 'Брондирование', 'Стрижка']" [value]="service">{{service}}</md-option>
        </md-select>
      </div>
      <div class="input-group-two">
        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
        <md-select dividerColor="accent"  placeholder="Время" [formControl]="complexForm.controls['time']">
          <md-option *ngFor="let time of ['12:00', '13:00', '14:00']" [value]="time">{{time}}</md-option>
        </md-select>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <md-textarea dividerColor='accent' rows="6" placeholder="Комментарий"></md-textarea>
  </div>

  <button md-raised-button color="accent" type="submit"  [disabled]="!complexForm.valid">Записаться <md-icon>send</md-icon></button>
</form>

