<div class="row">
  <div class="col-md-12">
    <md-card class="profile-card">
      <img md-card-image *ngIf="profile.picture_large" src="{{profile.picture_large}}" class="profile-image">
      <md-card-title *ngIf="profile.given_name" >Добро пожаловать, {{profile.given_name}}</md-card-title>
      <md-card-title *ngIf="!profile.given_name" >Добро пожаловать, {{profile.nickname}}</md-card-title>
      <md-card-subtitle *ngIf="profile.link"><a href="{{profile.link}}">Facebook</a></md-card-subtitle>
      <md-card-content>
        <p>Here is some more content</p>
      </md-card-content>
    </md-card>

  </div>
</div>
