<nav class="header-menu">
  <ul>
    <li>
      <a class="logo-custom" routerLink="/">
        <img src="../../assets/images/logo-1.png" alt="Пострижайкин">
      </a>
    </li>
    <li>
      <a  routerLink="/">Главная</a>
    </li>
    <li>
      <a  routerLink="/saloons">Салоны</a>
    </li>
    <li>
      <a  routerLink="/">Новости</a>
    </li>
    <li>

    </li>
  </ul>
  <ul>
    <li class="no-paddings">
      <a class="profile-navbar" routerLink="/profile" *ngIf="auth.authenticated()">
        <img src="{{profile.picture}}" *ngIf="profile.picture" alt="{{profile.nickname}}">
        {{profile.nickname}}
      </a>
      <button md-icon-button [md-menu-trigger-for]="menu" *ngIf="auth.authenticated()">
        <md-icon class="gray">more_vert</md-icon>
      </button>
    </li>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
      <button md-menu-item disabled> Sign Out </button>
    </md-menu>
    <li [class.hidden]="auth.authenticated()">
      <a (click)="auth.login()" *ngIf="!auth.authenticated()">
        Войти
        <md-icon>
          perm_identity
        </md-icon>
      </a>
    </li>
  </ul>
</nav>
