@font-face {
  font-family: "Monplesirscript";
  font-style: normal;
  src: url("../assets/fonts/Monplesirscript.eot?") format("eot"),
  url("../assets/fonts/Monplesirscript.woff2") format("woff2"),
  url("../assets/fonts/Monplesirscript.woff") format("woff"),
  url("../assets/fonts/Monplesirscript.ttf") format("truetype");
}
