<div class="full-width">
  <div id="#main-content" class="main-content">
    <span class="main-title">
      Парикмахерские & <span class="block">cалоны <span class="pink">красоты</span></span><span class="block">вашего города.</span>
    </span>
    <span class="city block">
      Гомель
    </span>

    <div class="arrow-down">
      <button md-icon-button><md-icon class="pink">arrow_downward</md-icon></button>
    </div>
  </div>
</div>

<div class="our-discounts">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <slick-slider>
          <div class="discount-plate">
            <div class="discount-image">
              <img src="../../assets/images/486949044.jpg" alt="">
            </div>
            <div class="discount-content">
              <h2 class="salon-name">Гран-при</h2>
              <h3 class="discount-title">
                С 9.00 скидка 50%
              </h3>
              <div class="divider-stars"></div>
              <p class="discount-content">
                Скидка на все услуги нашего центра
              </p>
              <a href="#">Подробнее</a>
            </div>
          </div>
          <div class="discount-plate">
            <div class="discount-image">
              <img src="../../assets/images/486949044.jpg" alt="">
            </div>
            <div class="discount-content">
              <h2 class="salon-name">Гран-при</h2>
              <h3 class="discount-title">
                С 9.00 скидка 50%
              </h3>
              <div class="divider-stars"></div>
              <p class="discount-content">
                Скидка на все услуги нашего центра
              </p>
              <a href="#">Подробнее</a>
            </div>
          </div>
          <div class="discount-plate">
            <div class="discount-image">
              <img src="../../assets/images/486949044.jpg" alt="">
            </div>
            <div class="discount-content">
              <h2 class="salon-name">Гран-при</h2>
              <h3 class="discount-title">
                С 9.00 скидка 50%
              </h3>
              <div class="divider-stars"></div>
              <p class="discount-content">
                Скидка на все услуги нашего центра
              </p>
              <a href="#">Подробнее</a>
            </div>
          </div>
          <div class="discount-plate">
            <div class="discount-image">
              <img src="../../assets/images/486949044.jpg" alt="">
            </div>
            <div class="discount-content">
              <h2 class="salon-name">Гран-при</h2>
              <h3 class="discount-title">
                С 9.00 скидка 50%
              </h3>
              <div class="divider-stars"></div>
              <p class="discount-content">
                Скидка на все услуги нашего центра
              </p>
              <a href="#">Подробнее</a>
            </div>
          </div>
        </slick-slider>
      </div>
    </div>
  </div>
</div>
<div class="popular-saloons">
  <div class="section-header">
    <h2>Популярные салоны</h2>
    <h3>Выберите то, что понравится</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="popular-saloons-items">
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-1.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-2.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-3.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-4.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-5.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="popular-saloons-item">
          <div class="grid">
            <figure class="effect-zoe">
              <img src="../../assets/images/salon-6.jpg" alt="img25"/>
              <figcaption>
                <h2 class="saloon-name">Гран-тур</h2>
                <div class="icon-links">
                  <div class="inline-link">
                    <button md-icon-button><md-icon>star_rate</md-icon></button>
                    12
                  </div>
                  <button md-icon-button><md-icon>arrow_forward</md-icon></button>
                </div>
                <p class="description saloon-address"></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-all-saloons">
    <button md-raised-button color="accent"><md-icon>arrow_forward</md-icon> Посмотреть все салоны</button>
  </div>
</div>
